# Keep node modules out of version control
node_modules
# Keep environment variables out of version control
.env
# Keep generated/prisma out of version control
/generated/prisma
# Keep prisma seeding out of version control
/prisma/seed.ts
# Keep storage directory out of version control
storage